.kefu{ width:55px; height:133px; background:url(../../images/homepage/kefubj.png) no-repeat; position:fixed; z-index:9999; top:228px; right:135px;}
.kefu2{ width:55px; height:133px; background:url(../../images/homepage/kefubj.png) no-repeat; position:fixed; z-index:9999; top:228px; right:218px;}

.kefunr{ width:100px; height:170px; border:1px solid #CCC;position:fixed; z-index:9999; top:228px; right:120px; display:none; background:#FFF;}
.qqimg{ width:90px; margin:10px auto;}
.qqimg a{ height:35px; display:block; margin-left:5px;}

