@charset "utf-8";
/*会员中心*/
#MemberCenter{ margin-top:5px; width:100%;}
.member_menu{ width:234px;}
.member_title{ width:233px; height:7px; background:url(../Images/member_up.png) no-repeat; _overflow:hidden;}
.member_d{ width:233PX; height:15px; background:url(../Images/memberD.png) no-repeat;}
.member_zj{ width:231px;height:575px; border:1px solid #CCC; border-top:none; border-bottom:none;}
.member_zj ul{ margin-top:-4px;}
.member_zj ul li{ width:231px; background:url(../Images/jianbian.png) repeat-x;list-style:none;}
.member_zj ul li a{ line-height:30px; text-align:center; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color:#00518d; display:block;}
.member_zj ul p{ height:28px; border-bottom:1px solid #CCC; line-height:28px;}

.member_zj ul p a{ text-align:center; display:block; color:#666; font-size:12px; *font-weight:normal;}

.blue{ background:#dff2ff;}
.personl{ width:758px; height:161px; border:1px solid  #8abfff;}
.member_nr{ }
.memnr_title{background:url(../Images/jianbian.png); height:30px; overflow:hidden; padding-left:24px; line-height:30px; color:#666; font-size:14px; font-weight:bold; border-bottom:1px solid #CCC; width:734px;}
.memnr_title2{background:url(../Images/jianbian.png); height:30px; overflow:hidden; padding-left:24px; line-height:30px; color:#666; font-size:14px; font-weight:bold; border-bottom:1px solid #CCC; width:728px;}


.mnL{ width:122px;}
.mnZ{ width:250px;}
.personl .mnR{ width:280px; font-size:12px;}
.gztx{ display:block; line-height:22px; font-size:12px;}
.toux{ text-align:center; margin-top:20px;}
.mnZ{ margin-top:20px; font-size:14px; color:#666;}
.menrL{ background:#ebf4ff; height:130px;}

.fon14{ font-size:14px; font-weight:bold; margin-bottom:15px;}
.username{ color:#F60; margin-right:5px;}
.userinf{ line-height:22px; font-size:12px;}
.mnR{ margin-top:50px; color:#666; font-size:14px;}
.jf{ color:#F60;}
.zjczdd{ margin-top:8px;}
.zjczdd th{ font-size:14px; border-right:1px solid #CCC;}
.zjczdd table{ font-size:12px; color:#666;}
.bgnr td{ padding:20px 0px;}
.bgnto td{ padding:25px 10px; text-align:center;}
.tpybx{ display:block; margin-top:10px; color:#F60;}

/*保单管理*/
.PolicyM{ border:1px solid #CCC; width:752px;}
.PolicyMenu{ width:712px; height:46px; background:url(../Images/PolicyMenu_bj.png) no-repeat; margin:15px 21px;}
.PolicyMenu ul li{ list-style:none; float:left; line-height:46px; width:178px;}
.PolicyMenu ul li a{ font-weight:bold; font-size:14px; color:#666; display:block; text-align:center;}
.menhove{ width:180px; height:46px; background:url(../Images/menhove.png) repeat-x;}

.bdgM{ margin:15px 21px}
.bdh td{ padding:12px 0; font-size:12px;}
.fanye table{ margin:0px 21px 10px 0;}
.PersonalM{ width:758px;}
.tbb td{ padding:8px; border:0; font-size:12px;}
.address_add{ width:117px; margin:10px 0px 0px 614px;}
.bdgMadd{ margin:10px 21px}
.bdgM th,.bdgMadd th{ font-size:14px; border-right:1px solid #CCC;}
.bdgM td{ font-size:12px; color:#666;}
/*积分管理*/
.jifen{ margin-left:400px; font-size:12px; font-weight:normal;}
.jfsc{ margin-left:10px; color:#FF9900;}
.jifens{ padding:18px 23px; background:#fff3e7;}
.ffs{ margin-left:10px;}

/*订单管理*/
.OrderMenu{margin-top:20px; padding-left:30px;}
.OrderMenu ul li{ list-style:none; float:left; width:100px; background:#CCC; border-right:1px solid #FFF;}
.OrderMenu ul li a{ text-align:center; display:block; line-height:30px; font-size:14px;}
.OrderMenu .liclick{ background:#F90; color:#fff;}

.bdh input,.bdh select{ margin-left:5px;}