@charset "utf-8";
.cpcx {font-size:12px;}
a{ text-decoration:none; font-family:"宋体", "华文楷体", "黑体"}
a{outline:none; blr:expression(this.onFocus=this.blur());}
table {
	border:1px solid #ccc;
	border-collapse:collapse;
}
table td, table.th {
	border:1px solid #ccc;
}
.blue{ color:#43adff}
.chengse{ color:#F90;}