.icon-application{background:url(../../images/icons/application.png) no-repeat;}
.icon-calendar{background:url(../../images/icons/calendar.png) no-repeat;}
.icon-clipboard{background:url(../../images/icons/clipboard.png) no-repeat;}
.icon-drawer{background:url(../../images/icons/drawer.png) no-repeat;}
.icon-information{background:url(../../images/icons/information.png) no-repeat;}
.icon-newspaper{background:url(../../images/icons/newspaper.png) no-repeat;}
.icon-present{background:url(../../images/icons/present.png) no-repeat;}